*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background: linear-gradient(-45deg,#9dd4e9,#39b6e8,#146c87,#236ad5);
    position:relative;
    animation: change 10s ease-in-out infinite;
    background-size:400% 400%;
    font-family: 'Bebas Neue', cursive;
    font-size: large;
    
   
}
.own-color{
    background-color: #EE7752;


    
    /*background: linear-gradient(-45deg,#EE7752,#E7337E,#23A6D5,#23D5AB);
    position:relative;
    animation: change 10s ease-in-out infinite;
    background-size:400% 400%;*/
}
@keyframes change{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}
a:hover{
    padding:10px 15px;
    cursor: pointer;
}
